/** Header **/
.header{
    width: 100%;
    display:flex;
}
.logo{
    width: 6%;
}
.titulo{
    
    padding: 3% 5% 0 0;
    height: 100%;
    width: 100%;
}

#container{
    
    background-color: #f8f8f8;
    position: relative;
    width: 80px;
    height: 40px;
    box-shadow: inset 4px 4px 6px #535353,
                inset -4px -4px 6px #fff;
    
    border-radius: 25px;
    margin-top: 3%;
    margin-left: 82%;
    cursor: pointer;
}

#container.active .toggle{
    left: 40px;
    background: linear-gradient(145deg, #d8d8d8, #535353);
}

.toggle{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 40px;
    height: 40px;
    transform: scale(.7);
    background: linear-gradient(145deg, #d8d8d8, #2377e7);
    border-radius: 25px;
    box-shadow: 3px 3px 8px #c4c4c4,
                -3px -3px 8 #fff;
    transition: 200ms all;
}


/** Main **/

body{
    width: 100%;
    height: 100vh;
    background:#2377e7;
    transition: 200ms all;
}

body.active{
    background-color: #535353;
}

.body{
    height: 85vh;
    display: flex;
}

.main{
    margin: 1em 1em 1em 3em;
    width: 65%;
    height: 76vh;
}

.introductionText{
    font-size: 25px ;
    display: block;
    padding-bottom: 1em;
    color: #474646;
    transition: 200ms all;
}

.introductionText.active{
    color: #0f0f0f;
}



.input{
    background:#2377e7;
    border: none;
    border-radius: 1em;
    width: 100%;
    height: 60vh;
    resize: none;
    font-size: 1.5em;
    transition: 200ms all;

}

.input::placeholder{
    color: #2e2e2e;
}

.input.active{
    background-color: #535353;
}

.button{
    border: 0px solid rgb(116, 115, 115);
    border-radius: 0.5em;
    background:#4388e2;
    font-size: medium;
    cursor: pointer;
    margin: 1em 0.2em;
    padding: 0.4em;
    transition: 0.5s all;
}
.button:hover{
    background-color: #5e9ae7;
}

.button.active{
    background:#999a9c;
}

.button.active:hover{
    background:#cacaca;

}


.output{
    width: 20%;
    margin: 1em 1em 1em 3em;
}

.result{
    border: none;
    border-radius: 1em;
    width: 100%;
    height: 60vh;
    resize: none;
    font-size: 1.5em;
    cursor: default;
    box-shadow: 10px 10px 10px 5px #000;
    background:#5293e9;
}


.result.active{
    background:#999a9c;
}

/** Footer **/
.copyright{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 2vh;
    color: #9c9c9c;
    font-size: 0.7em;
}